<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <%= link_to "Club House", root_path, class: "navbar-brand" %>

      <div>
        <ul class="navbar-nav gap-2">
          <% if session[:user_id] %>
            <li class="nav-item dropdown bg-primary rounded-pill px-2">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= User.find(session[:user_id]).full_name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                <li>
                  <%= link_to "Log out", logout_path, class: "nav-link" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item bg-primary rounded-pill px-2">
              <%= link_to "Sign up", signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item bg-secondary rounded-pill px-2">
              <%= link_to "Log in", login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
