<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <%= link_to "Club House", root_path, class: "navbar-brand" %>

      <div>
        <ul class="navbar-nav">
          <% if session[:user_id] %>
            <li class="nav-item">
              <div class="nav-link bg-primary rounded-pill"> Welcome, <%= User.find(session[:user_id]).full_name %> </div>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", logout_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
